<div class="owner">
    <p>Nomre d'owners par page : {{per_page}}</p>
    <p>Numéro de la page : {{page}}</p>
    <p>Nombre de page : {{nbPage}}</p>
    <p>Nombre d'owners : {{nbOwners}}</p>
    <div class="row justify-content-center">
        {{#each data}}
        <div class="col-lg-4" style="margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Posté par {{this.first_name}}</h5>
                    {{#if this.last_name}}
                    <ul class="list-group">
                        <li class="list-group-item">{{this.last_name}}</li>
                    </ul>
                    {{else}}
                    <ul class="list-group">
                        <li class="list-group-item">Soyez le premier à
                            avoir un nom de famille!</li>
                    </ul>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>